.movieContainer {
    margin-bottom: 25px;
    display: flex;
    row-gap: 25px;
    column-gap: 50px;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    .imageWrapper {
        width: 100%;
        max-width: 400px;
        position: relative;
        @media (min-width: 768px) and (max-width: 1024px) {
            flex: 1;
        }
        .rating {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #4F46E5;
            padding: 8px 18px;
            font-weight: 600;
            font-size: 16px;
            width: fit-content;
        }
        .image {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
    .movieInfo {
        flex: 1;
        max-width: 100%;
        @media (min-width: 768px) and (max-width: 1024px) {
            flex: 2;
        }
        .meta {
            margin-top: 5px;
            display: flex;
            align-items: center;
            column-gap: 15px;
            row-gap: 5px;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            div:not(:first-child) {
                opacity: 0.8;
            }
            .imdb {
                display: flex;
                align-items: center;
                gap: 8px;
                svg {
                    color: #A5B4FC;
                }
                span {
                    opacity: 0.8;
                }
            }
            .divisor {
                width: 1px;
                background-color: white;
                height: 16px;
            }
            @media (max-width: 767px) {
                .divisor:nth-child(4) {
                    display: none;
                }
                div:last-child {
                    width: 100%;
                }
            }
        }
        .fullPlot {
            margin: 25px 0;
            text-align: justify;
            font-size: 0.9rem;
        }
        .cast {
            margin: 15px 0 25px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            > div {
                padding: 5px 10px;
                background-color: #A5B4FC;
                color: #222;
                font-weight: 600;
                font-size: 0.9rem;
                cursor: default;
            }
        }
    }
}

.reviewContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    .review {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > p {
            padding: 15px;
            background-color: #444654;
            white-space: pre-line;
        }
    }
}