.addButton {
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
    margin-bottom: 15px;
    display: block;
    width: 150px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #4F46E5;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.25s linear;
    &.activeButton {
        display: none;
    }
    &:hover {
        opacity: 0.8;
    }
    span {
        margin-bottom: 2px;
    }
}

.editDelete {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    &.activeButton {
        button:first-child {
            background-color: #444654;
        }
    }
    button {
        display: grid;
        place-content: center;
        color: white;
        border: none;
        border-radius: 0;
        font-weight: 600;
        width: 35px;
        height: 35px;
        cursor: pointer;
        &:first-child {
            background-color: hsl(152, 38%, 34%);
        }
        &:last-child {
            background-color: hsl(1, 62%, 28%);
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.reviewForm {
    transition: all 0.25s linear;
    scroll-snap-align: center;
    &.showForm {
        display: none;
    }
    textarea {
        display: block;
        width: 100%;
        border: 2px solid #A5B4FC;
        background-color: transparent;
        color: white;
        outline: none;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
        font-size: 14px;
        &:focus {
            outline: 2px solid;
            outline-color: #4F46E5;
            outline-offset: 2px;
        }
    }
    .submitWrap {
        display: flex;
        align-items: center;
        gap: 10px;
        .cancel {
            display: grid;
            place-content: center;
            color: white;
            border: none;
            border-radius: 0;
            font-weight: 600;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: hsl(1, 62%, 28%);
        }
        .submit {
            display: block;
            width: fit-content;
            padding: 0 17px;
            height: 35px;
            font-size: 0.85rem;
            text-transform: uppercase;
            border: none;
            background-color: #4F46E5;
            color: white;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    
    }
}
