.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #303134;
    z-index: 99;
    .wrapper {
        height: 80px;
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            gap: 15px;
            .text {
                font-weight: 700;
                font-size: 1.35rem;
                .accentColor {
                    color: #A5B4FC;
                }
            }
        }
        .navButton {
            display: block;
            margin-left: auto;
            cursor: pointer;
        }
        .links {
            list-style: none;
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 25px;
            font-weight: 600;
            li {
                cursor: pointer;
                a {
                    padding: 5px 0 5px 5px;
                }
            }
            .login {
                display: flex;
                align-items: center;
                gap: 25px;
                img {
                    display: block;
                    width: 45px;
                    border-radius: 50%;
                    cursor: default;
                }
            }
        }
        .navButton {
            display: none;
        }
        @media (max-width: 1024px) {
            .links {
                margin: unset;
                display: block;
                position: fixed;
                top: 80px;
                right: 0;
                width: 100%;
                max-width: 500px;
                background-color: #444654;
                transition: clip-path 0.25s ease-in-out;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                &.active {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                li {
                    font-size: 18px;
                    text-align: center;
                    height: 65px;
                    &:not(:last-child) {
                        border-bottom: 2px solid #222;
                    }
                    a {
                        display: grid;
                        place-content: center;
                        height: 100%;
                    }
                }
                .login {
                    flex-direction: row-reverse;
                    justify-content: center;
                    gap: 5px;
                    img {
                        width: 30px;
                    }
                }
            }
            .navButton {
                display: block;
                background-color: transparent;
                color: white;
                border: none;
                font-size: 28px;
                display: grid;
                place-content: center;
            }
        }
    }
}

